/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * SolarDraftSecondEdition implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * solardraftsecondedition.css
 *
 * SolarDraftSecondEdition stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (solardraftsecondedition_solardraftsecondedition.tpl), and to HTML elements you create dynamically
    (in solardraftsecondedition.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

#solar-grid {
    display: grid;
    grid-template-columns: 56% 12% 32%; /* NOW PERCENTAGES */
    grid-template-rows: 50% 50%;
    gap: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.playertable {
    flex: 1 1 auto;
    height: 90%;
}

/* Column 3 spans both rows */
#solar-rows_column {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;       
}

.solar-row-block {
    width: auto;
    align-items: center;  
}

.solar-row-block .solar-row-cards {
    margin-top: 20px;
}

#discard-pile {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

#player-hand {
    position: relative;   /* required for HandStock */
    width: 100%;
    height: 100%;
}

#solar-deck{
    margin-top: 20px;
}

.card {
    transition: transform 0.25s ease-in-out;
}

/* CARD SCALING */
#solar-deck .card, #player-hand .card, 
#solar-row-1 .card, #solar-row-2 .card {
    transform: translate(0,0) scale(.95);
    transition: transform 0.25s ease-in-out;
}

#discard-pile .card {
    transform: scale(.85);    
}

/* CARD HOVERS */
#player-hand .card:hover,
#solar-row-1 .card:hover,
#solar-row-2 .card:hover {
    transform: translate(0,0) scale(1.25);
    z-index: 9999;       
}

.card-back-planet {
    background-image: url('img/back_planet.png');
}

.card-back-comet {
 
    background-image: url('img/back_comet.png');
}

.card-back-moon {
    background-image: url('img/back_moon.png');
}

.card-back-planet,
.card-back-comet,
.card-back-moon {
    width: 150px;
    height: 236px;
    background-size: cover; /* important */
    background-repeat: no-repeat;
}

.section-label {
    align-self: flex-start;
    margin-bottom: 2px;
    font-weight: bold;
}
