/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * SolarDraftSecondEdition implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * solardraftsecondedition.css
 *
 * SolarDraftSecondEdition stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (solardraftsecondedition_solardraftsecondedition.tpl), and to HTML elements you create dynamically
    (in solardraftsecondedition.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/
#solar-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
    margin-top: 10px;
}

.full-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

#solar-deck, #discard-pile {
    width: 150px;
    height: 236px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#solar-deck .card {
    transform: scale(.85);
}

#discard-pile .card {
    transform: scale(.85);    
}

#discard-pile .card:hover{
    transform: scale(1.15);
}

.solar-row-cards {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#solar-row-1 {
    margin-right: 25px; 
}


#solar-row-2 {
    margin-right: 25px; 
}

#player-hand_wrap {
    width: 625px;
    height: 210px;
    overflow: visible;
}

#player-hand {
    position: relative;   /* required for HandStock */
    width: 100%;
    height: 100%;
}

#player-hand .card {
    transform: scale(0.75);
    transform-origin: top left;
}

#player-hand .card:hover {
    transform: scale(1.0);        /* zoom on hover */
}

.card-wrapper {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

#mysolarsystem_wrap {
    height: 210px; 
    width: 970px;
    align-items: flex-start;
}

#solar-row-1 .card {
    transform: scale(0.85);

}

#solar-row-1 .card:hover{
    transform: scale(1.15);
}

#solar-row-2 .card {
    transform: scale(0.85);
}

#solar-row-2 .card:hover{
    transform: scale(1.15);
}

#player-tables {

}

.playertablename {
  font-weight: bold;
}

.playertable {
    height: 236px;
}

.card-back-planet {
    background-image: url('img/back_planet.png');
}

.card-back-comet {
 
    background-image: url('img/back_comet.png');
}

.card-back-moon {
    background-image: url('img/back_moon.png');
}

.card-back-planet,
.card-back-comet,
.card-back-moon {
    width: 150px;
    height: 236px;
    background-size: cover; /* important */
    background-repeat: no-repeat;
}
